/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3eafff;
  --ifm-color-primary-dark: #0095ff;
  --ifm-color-primary-darker: #3e85ff;
  --ifm-color-primary-darkest: #002b74;
  --ifm-color-primary-light: #6cc2ff;
  --ifm-color-primary-lighter: #9ad5ff;
  --ifm-color-primary-lightest: #cfebff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3eafff;
  --ifm-color-primary-dark: #0095ff;
  --ifm-color-primary-darker: #3e85ff;
  --ifm-color-primary-darkest: #002b74;
  --ifm-color-primary-light: #6cc2ff;
  --ifm-color-primary-lighter: #9ad5ff;
  --ifm-color-primary-lightest: #cfebff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
